@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-body-tertiary p-5 rounded">
    <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">Welcome to my project B!</h1>
        <h2 class="display-5 fw-normal">Name: Cecilia Forsberg Andersson</h2>
        <p class="fs-5">
            This application demonstrates ASP.NET Core web development using Razor Pages and MVC.
            It is built with C#, Razor syntax, and a modern frontend using Bootstrap and JavaScript.
        </p>
        <p>
            A fun little study project where I get to explore ASP.NET Core web development.
            It’s all about experimenting with Razor Pages, MVC, and building a web app that actually does stuff while I learn the ropes.
        </p>

        <p>And byte way, I also use favicon. Enjoy!</p>
        <p>
            <a class="btn btn-primary" href="https://seido-webservice-307d89e1f16a.azurewebsites.net/swagger" role="button">Do you remember the WebApi?</a>
        </p>
    </div>
</div>
